.card {
    width: 100%;
    margin-top: 5vh;
    border: 2px solid;
    border-radius: 10pt;
    padding: 20px;
}

img {
    width: 100%;
}

@media screen and (min-width: 992px) {
    .card {
        width: 40%;
        
    }
}


@media screen and (min-width: 1600px) {
    .card {
        width: 25%;
    }
}