body {
  margin: 0;
}

h1 {
  text-align: center;
}
.container {
  margin-left: 7%;
  width: 80%;

}


@media screen and (min-width: 992px) {
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
}